@model List<Course>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<section id="portfolio" class="section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <header class="section-header">
            <h3 class="section-title">Our Courses</h3>
            <h3 class="section-title">@localizer["home_menu"]</h3>
        </header>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1080px;">

            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-6 portfolio-item "data-filter=".filter-@item.Name" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-wrap">
                        <a href="/home/course/@item.Id">
                            <figure>
                                <img src="../assets/img/courses/@item.Image" style="width:100%;height:100%;" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>
                                    @item.Name
                                </h4>
                                <p>@item.Discraption</p>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>
</section>